/********************
 * LMMS style sheet *
 ********************/

/* most foreground text items */
QLabel, QTreeWidget, QListWidget, QGroupBox, QMenuBar {
	color: #d1d8e4;
	outline: none;
}

QLabel {}

QTreeView {
	outline: none;
}

QMenuBar {
    font-size: 14px;
    padding: 2px;
		color: #d1d8e4;
    background: #292f34;
}


QTreeWidget::item:hover,
QTreeWidget::branch:hover {
	background-color: #14191d;
}

QTreeWidget::item:selected,
QTreeWidget::branch:selected {
	background-color: #d84e50;
}

QTreeView::branch:has-children:open {
	border-image: url("resources:open_branch.png") 0;
}

QTreeView::branch:has-children:closed {
	border-image: url("resources:closed_branch.png") 0;
}

QMdiArea {
	background-color: #14191d;
/*	background-image: url(resources:background_gradient2.png); */
}

AutomationEditor {
	color: #d1d8e4;
	background-color: qlineargradient(spread:reflect, x1:0, y1:0, x2:0, y2:1, stop:0 #14191d, stop:1 #1f2327);
	qproperty-backgroundShade: rgba(255, 255, 255, 5);
	qproperty-vertexColor: #7c45ac;
	qproperty-crossColor: rgba(125,70,170,150);
	/* Grid colors */
	qproperty-lineColor: rgba(255, 255, 255, 10);
	qproperty-beatLineColor: rgba(255, 255, 255, 15);
	qproperty-barLineColor: rgba(255, 255, 255, 20);

	qproperty-graphColor: rgba(125,70,170,130);
	qproperty-scaleColor: #292f34;
}

/* text box */

QLineEdit {
	border-radius: 4px;
	border: 1px solid #14191d;
	background: #1f2327;
	color: #d1d8e4;
}

QLineEdit:read-only {
	border-style: none;
	background: transparent;
}

/* text box when it wants text */

QLineEdit:focus {
	border: 1px solid #d84e50;
}


QToolTip {
	border-radius: 4px;
	background: #1f2327;
	color: #d1d8e4;
  border: 1px solid #d84e50;
}

TextFloat {
	background: #1f2327;
	color: #d1d8e4;
}


/* splash screen text */
QSplashScreen QLabel {
	background: transparent;
	color: transparent;
}


QMenu {
	border-top: 2px solid #d84e50;
	background-color: #1f2327;
	font-size: 12px;
}

QMenu::separator {
	height: 1.0px;
	background: #14191d;
	margin-left: 0px;
	margin-right: 0px;
  margin-top: 8px;
  margin-bottom: 4px;
}

QMenu::item {
	color: #d1d8e4;
	padding: 1px 20px 2px 30px;
	margin: 4px 3px 4px 3px;
	min-height: 24px;
}

QMenu::item:selected {
	color: #d1d8e4;
	font-weight: normal;
	background-color: #d84e50;
  border: 2px;
  border-radius: 5px;
}

QMenu::item:disabled {
    border-top: 2px solid #292f34;
    background: #292f34;
}

QMenu::icon {
	margin: 0px 0px 0px 6px;
}

QMenu::indicator {
  margin: 6px;
	width: 16;
	height: 16;
	opacity: 0;
	border: 1px solid #d84e50;
	border-radius: 2px;
}

QMenu::indicator:checked {
	image: url("resources:apply.png");
}

QMenu::indicator:selected {
	image: url("resources:apply-selected.png");
	border: 1px solid #1f2327;
	background-color: #1f2327;
}

PianoRoll {
	background-color: qlineargradient(spread:reflect, x1:0, y1:0, x2:0, y2:1, stop:0 #14191d, stop:1 #1f2327);
	qproperty-backgroundShade: rgba(255, 255, 255, 5);
	qproperty-noteModeColor: white;
	qproperty-noteColor: #5f9a49;
	qproperty-noteOpacity: 190;
	qproperty-noteBorders: false; /* boolean property, set false to have borderless notes */
	qproperty-selectedNoteColor: rgba(255, 92, 95, 50);
	qproperty-barColor: #5f9a49;
	qproperty-markedSemitoneColor: rgba(255, 255, 255, 8);
	/* Grid colors */
	qproperty-lineColor: rgba(255, 255, 255, 7);
	qproperty-beatLineColor: rgba(255, 255, 255, 15);
	qproperty-barLineColor: rgba(255, 255, 255, 10);

	/* Text on the white piano keys */
	qproperty-textColor: #000;
	qproperty-textColorLight: #292f34;
	qproperty-textShadow: #d1d8e4;
}

TabWidget {
	background: #292f34;
	qproperty-tabText: rgba(255, 255, 255, 0);
	qproperty-tabTitleText: #d1d8e4;
	qproperty-tabSelected: #14191d;
	qproperty-tabBackground: #292f34;
	qproperty-tabBorder: #292f34;
}

GroupBox {
	font-size: 10px;

/* Effects Chain FxMixerView*/
}

/* main toolbar oscilloscope - can have transparent bg now */

VisualizationWidget  {
	background: transparent;
	border: none;
	qproperty-normalColor: #1ccba8;
	qproperty-warningColor: #ffb100;
	qproperty-clippingColor: #df2b2e;
}
/* main toolbar cpu load widget - this can have transparent bg now */

CPULoadWidget {
	border: transparent;
	background: url(resources:cpuload_bg.png);
}

/* scrollbar: trough */

QScrollBar:horizontal {
	border-top: 3px solid #292f34;
	background: #292f34;
	height: 12px;
	margin: 0px 12px;
}
QScrollBar:vertical {
	border-left: 3px solid #292f34;
	background: #292f34;
	width: 12px;
	margin: 12px 0px;
}

/* scrollbar: trough clicky things */

QScrollBar::add-page:horizontal, QScrollBar::sub-page:horizontal,
QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical {
	background: none;
}

QScrollBar::add-page:horizontal:pressed, QScrollBar::sub-page:horizontal:pressed,
QScrollBar::add-page:vertical:pressed, QScrollBar::sub-page:vertical:pressed {
	background: rgba(0,0,0,50);
}

/* scrollbar: handles (sliders) */

QScrollBar::handle:horizontal {
	background:  #14191d;
	border: none;
	border-radius: 4px;
	min-width: 24px;
}

QScrollBar::handle:horizontal:hover {
	background: #d84e50;
}

QScrollBar::handle:horizontal:pressed {
	background: #d84e50;
}

QScrollBar::handle:vertical {
	background:  #14191d;
	border: none;
	border-radius: 4px;
	min-height: 24px;
}

QScrollBar::handle:vertical:hover {
	background: #d84e50;
}

QScrollBar::handle:vertical:pressed {
	background: #d84e50;
}

QScrollBar::handle:horizontal:disabled, QScrollBar::handle:vertical:disabled  {
	background: #292f34;
	border-radius: 1px;
	border: none;
}

/* arrow buttons */

QScrollBar::add-line, QScrollBar::sub-line {
	background: #292f34;
	border-radius: 0px;
	border: none;
	subcontrol-origin: margin;
}

QScrollBar::add-line:horizontal 	{  	subcontrol-position: right; width: 12px;}
QScrollBar::sub-line:horizontal 	{ 	subcontrol-position: left; width: 12px;}
QScrollBar::add-line:vertical 		{ 	subcontrol-position: bottom; height: 12px;}
QScrollBar::sub-line:vertical 		{ 	subcontrol-position: top; height: 12px;}

QScrollBar::add-line:hover, QScrollBar::sub-line:hover {
	background: #14191d;
	border-radius: 2px;
}

QScrollBar::add-line:pressed, QScrollBar::sub-line:pressed {
	background: #d84e50;
}

QScrollBar::add-line:disabled, QScrollBar::sub-line:disabled {
	background: #292f34;
}

/* arrow button arrows */

QScrollBar::left-arrow:horizontal, QScrollBar::right-arrow:horizontal,
QScrollBar::up-arrow:vertical, QScrollBar::down-arrow:vertical {
	border: none;
	background-color: none;
	width: 5px;
	height: 5px;
}

QScrollBar::left-arrow:horizontal, QScrollBar::right-arrow:horizontal {
	margin-top: 1px;
}

QScrollBar::up-arrow:vertical, QScrollBar::down-arrow:vertical {
	margin-left: 1px;
}

QScrollBar::left-arrow:horizontal { background-image: url(resources:sbarrow_left.png);}
QScrollBar::right-arrow:horizontal { background-image: url(resources:sbarrow_right.png);}
QScrollBar::up-arrow:vertical { background-image: url(resources:sbarrow_up.png);}
QScrollBar::down-arrow:vertical { background-image: url(resources:sbarrow_down.png);}
QScrollBar::left-arrow:horizontal:disabled { background-image: url(resources:sbarrow_left_d.png);}
QScrollBar::right-arrow:horizontal:disabled { background-image: url(resources:sbarrow_right_d.png);}
QScrollBar::up-arrow:vertical:disabled { background-image: url(resources:sbarrow_up_d.png);}
QScrollBar::down-arrow:vertical:disabled { background-image: url(resources:sbarrow_down_d.png);}

/* background for song editor and bb-editor */

TrackContainerView QFrame {
	background-color: #1f2327;
	border-top: 1px solid #1f2327;
	border-bottom: 1px solid #1f2327;
}

/* background for track controls */
TrackView > QWidget {
	background-color: #292f34;
}
TrackView {
	background-color: #1f2327;
	border-top: 1px solid #1f2327;
}

/* autoscroll, loop, stop behaviour toggle buttons */

/* track background colors */
TrackContentWidget {
	qproperty-darkerColor: #14191d;
	qproperty-lighterColor: #1b1f23;
	qproperty-gridColor: rgba(255,255,255,20);
	qproperty-embossColor: rgba(0,0,0,10);
}

/* functional buttons */

QPushButton {
	margin-top: 1px;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 3px;
	padding-bottom: 3px;
	border: 1px solid #1b1f23;
	background: #1f2327;
	border-radius: 4px;
}


QPushButton:hover {
	border-color: #14191d;
	background: #14191d;
	border-radius: 6px;
}

QPushButton:pressed {
	border-color: #d84e50;
	background: #d84e50;
	border-radius: 6px;
}

/* gear button in tracks */
TrackContainerView QPushButton {
	margin-top: 0px;
	padding: 0px;
}

TrackOperationsWidget > QPushButton {
	max-height: 26px;
	max-width: 26px;
	min-height: 26px;
	min-width: 26px;
	background: transparent;
	border: 1px solid transparent;
}

TrackOperationsWidget > QPushButton::menu-indicator {
	image: url(resources:trackop.png);
	subcontrol-origin: padding;
	subcontrol-position: center;
	position: relative;
	background: none;
	border: none;
}

TrackOperationsWidget > QPushButton::menu-indicator:hover {
	image: url(resources:trackop_h.png);
	background: #14191d;
	border-color: #14191d;
	border-radius: 6px;
}


TrackOperationsWidget > QPushButton::menu-indicator:pressed,
TrackOperationsWidget > QPushButton::menu-indicator:checked
 {
	image: url(resources:trackop_c.png);
	position: relative;
	background: #d84e50;
	border-color: #d84e50;
	border-radius: 6px;
}

/* font sizes */

nameLabel, effectLabel, sf2InstrumentView > QLabel {
	font-size:12px;
}

/* main toolbar sliders (master vol, master pitch) */

AutomatableSlider::groove:vertical {
	background: #000;
	border: 3px solid #1f2327;
	border-radius: 4px;
	width: 2px;
	margin: 0px 2px;
}

AutomatableSlider::handle:vertical {
	background: none;
	border-image: url(resources:main_slider.png);
	width: 26px;
	height: 10px;
	border-radius: 2px;
	margin: -4px -12px -2px;
}

/* window that shows up when you add effects */
EffectSelectDialog QScrollArea {
	background: #292f34;
}

/* the inner boxes in LADSPA effect windows */

EffectControlDialog QGroupBox {
	background: #1f2327;
	margin-top: 1ex;
	padding: 10px 2px 1px;
	border-radius: 6px;
	border: 4px solid #1f2327;
}

/* the inner box titles when present (channel 1, channel 2...) */

EffectControlDialog QGroupBox::title {
	subcontrol-origin: margin;
	subcontrol-position: top center;
	background: #292f34;
	color: #d1d8e4;
	border-radius: 6px;
	border: 3px solid #292f34;
}

/* main toolbar */

QWidget#mainToolbar {
	border: none;
	border-bottom: 1px solid #14191d;
}


/* smaller toolbars */

QToolBar {
	background: #292f34;
	border: none;
	padding: 1px;
	padding-right: 0px;
	spacing: 0;
}

QToolBar::separator {
	border: none;
	width: 5px;
}

/* all tool buttons */

QToolButton {
	border: 3px solid #292f34;
	border-radius: 6px;
	background: #292f34;
	font-size: 10px;
	color: #d1d8e4;
}

QToolBar QToolButton {
	margin-top: 4px;
}

QToolButton:hover {
	border-color: #14191d;
	background: #14191d;
	font-weight: normal;
}

QToolButton:pressed {
	border-color: #16a085;
	background: #16a085;
}

QToolButton:checked {
	border-color: #16a085;
	background: #16a085;
}

/* track label buttons - the part that contains the icon and track title */

TrackLabelButton {
	margin-top: 1px;
	background-color: transparent;
	border: 2px solid transparent;
	font-size: 12px;
}

TrackLabelButton:hover {
	background: #14191d;
  border: 2px solid #14191d;
	font-size: 12px;
}

TrackLabelButton:pressed {
	background: #d84e50;
	border-color: #d84e50;
	font-size: 12px;
}

TrackLabelButton:checked {
	background: #d84e50;
	border-color: #d84e50;
	font-size: 12px;
}

TrackLabelButton:checked:pressed {
	background: #d84e50;
	border-color: #d84e50;
	font-size: 12px;
}

/* sidebar, sidebar buttons */

SideBar {
	subcontrol-position: center;
	background: #292f34;
	border-right: 1px solid #14191d;
}

SideBar QToolButton {
	font-size: 12px;
	margin: 3px 4px 3px 4px;
	padding: 3px -1px 3px -2px;
}

SideBar QToolButton:pressed {
	background: #d84e50;
	border-color: #d84e50;
}

SideBar QToolButton:checked {
	background: #14191d;
	border-color: #14191d;
/*	background: qlineargradient(spread:reflect, x1:0, y1:0, x2:0, y2:1, stop:0 #4b525b, stop:1 #2f333a); */

}

/* Instrument plugin list */

PluginDescList {
	background-color: #14191d;
}

PluginDescWidget {
	background-color: #14191d;
	color: #d1d8e4;
	font-weight: bold;
	margin: 0px;
}

PluginDescWidget:hover {
	background-color: #292f34;
	color: #d1d8e4;
}

/* piano widget */

PianoView {
	border: none;
	background-color: #14191d;
}

/* font sizes for text buttons */

FxMixerView QPushButton, EffectRackView QPushButton, ControllerRackView QPushButton {
	font-size: 12px;
}

ControllerRackView QPushButton {
	padding-left: 4px;
	padding-right: 4px;
}


FxLine {
	background: #1f2327;
	color: #d1d8e4;
	qproperty-backgroundActive: #14191d;
	qproperty-strokeOuterActive: #14191d;
	qproperty-strokeOuterInactive: #292f34;
	qproperty-strokeInnerActive: #14191d;
	qproperty-strokeInnerInactive: #1b1f23;
}

/* persistent peak markers for fx peak meters */
Fader {
	qproperty-peakGreen: #1ccba8;
	qproperty-peakYellow: #ffb100;
	qproperty-peakRed: #df2b2e;
}


TimeLineWidget {
	background-color: #292f34;
	/* font-size only supports px and pt. */
	font-size: 7pt;
	/* lengths also support em. This will make sure that the height
	   will always change in the same proportion as the font size
	   defined above.
	   If you want a fixed size set min and max to the same value. */
	min-height: 1.5em;
	max-height: 1.5em;

	/* Properties for the loop indicator rectangle in inactive state:
	    - LoopColor: Color of the outermost border
	    - LoopBrush: Brush to paint the main portion of the rectangle
	    - LoopInnerColor: Color used to paint the inlayed border */
	qproperty-inactiveLoopColor: #1f2327;
	qproperty-inactiveLoopBrush: #1f2327;
	qproperty-inactiveLoopInnerColor: #1f2327;

	/* Properties for the loop indicator rectangle in active state.
	   See above for detailed description. */
	qproperty-activeLoopColor:#d84e50;
	qproperty-activeLoopBrush: #d84e50;
	qproperty-activeLoopInnerColor: #d84e50;

	/* Vertical padding for the loop indicator rectangle.
	   A value of zero draws the rectangle at the full height of the widget. */
	qproperty-loopRectangleVerticalPadding: 0;

	qproperty-barLineColor: #d1d8e4;
	qproperty-barNumberColor: #d1d8e4;
}

QTreeView {
	alternate-background-color: #1f2327;
}

TrackContainerView QLabel
{
	background: #1f2327;
}

/* Patterns */

/* common pattern colors */
TrackContentObjectView   {
	qproperty-mutedColor: rgba(100,100,100,150);
	qproperty-mutedBackgroundColor: #292f34;
	qproperty-selectedColor: #d84e50;
	qproperty-BBPatternBackground: #292f34;
	qproperty-textColor: #d1d8e4;
	qproperty-textShadowColor: rgba(0,0,0,200);
	qproperty-gradient: false; /* boolean property, set true to have a gradient */
	/* finger tip offset of cursor */
	qproperty-mouseHotspotHand: 7px 2px;
}

/* instrument pattern */
PatternView {
	background-color: #5f9a49;
	color: rgba(0, 0, 0, 200);
}

/* sample track pattern */
SampleTCOView {
	background-color: #d19541;
	color: #763f07;
}

/* automation pattern */
AutomationPatternView {
	background-color: #7c45ac;
	color: rgba(0, 0, 0, 80);
}

/* bb-pattern */
BBTCOView {
	background-color: #3b81c7;
}

/* Subwindows in MDI-Area */
SubWindow {
	background: #292f34;
	/*color: #1b1f23;*/
	color: qlineargradient(spread:reflect, x1:0, y1:0, x2:0, y2:1, stop:0 #14191d, stop:0.06 #1f2327, stop:1 #1f2327);
	qproperty-activeColor: #14191d;
	qproperty-textShadowColor: #000;
	qproperty-borderColor: #14191d;
}

/* Subwindow title text */
SubWindow > QLabel {
	color: #d1d8e4;
	font-size: 12px;
	font-style: normal;
}

/* SubWindow titlebar button */
SubWindow > QPushButton {
	background-color: none;
	border-width: 4px;
  border-radius: 4px;
	border-color: none;
	border-style: none;
}

SubWindow > QPushButton:hover{
	background-color: #d84e50;
	border-width: 4px;
	border-color: #d84e50;
	border-style: solid;
	border-radius: 4px;
}


/* Plugins */

TripleOscillatorView Knob {
	color: rgb(255,255,255);
	qproperty-outerColor: rgb(255,255,255);
	qproperty-innerRadius: 2;
	qproperty-outerRadius: 7;
	qproperty-centerPointX: 13.0;
	qproperty-centerPointY: 14.0;
	qproperty-lineWidth: 2;
}


kickerInstrumentView Knob#smallKnob {
	color: black;
	qproperty-outerColor: black;
	qproperty-innerRadius: 3;
	qproperty-outerRadius: 11.0;
	qproperty-centerPointX: 14.5;
	qproperty-centerPointY: 14.5;
	qproperty-lineWidth: 2;
}


kickerInstrumentView Knob#largeKnob {
	color: #16a085;
	qproperty-outerColor: #16a085;
	qproperty-innerRadius: 8.0;
	qproperty-outerRadius: 15.0;
	qproperty-centerPointX: 17.0;
	qproperty-centerPointY: 17.0;
	qproperty-lineWidth: 3;
}


AudioFileProcessorView Knob {
	color: rgb(240, 147, 14);
	qproperty-outerColor: rgb(30, 35, 37);
	qproperty-innerRadius: 4;
	qproperty-outerRadius: 11.2;
	qproperty-centerPointX: 18.5;
	qproperty-centerPointY: 16.5;
	qproperty-lineWidth: 3;
}

organicInstrumentView Knob {
	color: rgb(124, 207, 98);
	qproperty-outerColor: rgb(13, 42, 4);
	qproperty-innerRadius: 2;
	qproperty-outerRadius: 7.5;
	qproperty-centerPointX: 10.5;
	qproperty-centerPointY: 10.5;
	qproperty-lineWidth: 1.5;
}

organicInstrumentView Knob#harmKnob {
	color: rgb(205, 98, 216);
	qproperty-outerColor: rgb(18, 4, 18);
}

organicInstrumentView Knob#fx1Knob,
organicInstrumentView Knob#volKnob {
	color: rgb(157, 157, 157);
	qproperty-outerColor: rgb(37, 37, 37);
	qproperty-innerRadius: 4;
	qproperty-outerRadius: 10.0;
	qproperty-centerPointX: 18.5;
	qproperty-centerPointY: 13.8;
	qproperty-lineWidth: 2;
}

sf2InstrumentView Knob {
	color: #ff00ea;
	qproperty-outerColor: rgb(20, 5, 18);
	qproperty-innerRadius: 2;
	qproperty-outerRadius: 9.2;
	qproperty-centerPointX: 15.5;
	qproperty-centerPointY: 15.42;
	qproperty-lineWidth: 2;
}

sfxrInstrumentView Knob {
	color: #16a085;
	qproperty-outerColor: rgb(194, 177, 145);
	qproperty-innerRadius: 2;
	qproperty-outerRadius: 9;
	qproperty-lineWidth: 2;
}

sfxrInstrumentView Knob#envKnob {
	color:	#263352;
	qproperty-outerColor: #4b66a4;
}

sfxrInstrumentView Knob#freqKnob {
	color:	#1e4a22;
	qproperty-outerColor: #3c9544;
}

sfxrInstrumentView Knob#changeKnob {
	color:	#591c1c;
	qproperty-outerColor: #b23737;
}

sfxrInstrumentView Knob#sqrKnob {
	color:	#3b2714;
	qproperty-outerColor: #724c27;
}

sfxrInstrumentView Knob#repeatKnob {
	color:	#292929;
	qproperty-outerColor: #515151;
}

sfxrInstrumentView Knob#phaserKnob {
	color:	#144c4d;
	qproperty-outerColor: #299899;
}

sfxrInstrumentView Knob#filterKnob {
	color:	#47224c;
	qproperty-outerColor: #8e4397;
}

opl2instrumentView Knob {
	color: rgb(128,128,128);
	qproperty-outerColor: rgb(255,255,255);
	qproperty-innerRadius: 2;
	qproperty-outerRadius: 9;
	qproperty-lineWidth: 2;
}

sidInstrumentView Knob {
	color: rgb(113,95,80);
	qproperty-outerColor: rgb( 255,255,255 );
	qproperty-innerRadius: 2;
	qproperty-outerRadius: 7;
	qproperty-lineWidth: 2;
}

WatsynView Knob {
	qproperty-innerRadius: 1;
	qproperty-outerRadius: 7;
	qproperty-centerPointX: 9.5;
	qproperty-centerPointY: 9.5;
	qproperty-lineWidth: 2;
}

WatsynView Knob#aKnob {
	color: #43b2ff;
	qproperty-outerColor: #43b2ff;
}

WatsynView Knob#bKnob {
	color: #fc5431;
	qproperty-outerColor: #fc5431;
}

WatsynView Knob#mixKnob {
	color: #43ff82;
	qproperty-outerColor: #43ff82;
	qproperty-outerRadius: 13;
	qproperty-centerPointX: 15.5;
	qproperty-centerPointY: 15.5;
}

WatsynView Knob#mixenvKnob {
	color: #43ff82;
	qproperty-outerColor: #43ff82;
}

WatsynView Knob#xtalkKnob {
	color: #fb50fb;
	qproperty-outerColor: #fb50fb;
}

MonstroView Knob {
	color: #ffffff;
	qproperty-outerColor: #aaaaaa;
	qproperty-outerRadius: 9;
	qproperty-innerRadius: 6;
	qproperty-centerPointX: 10;
	qproperty-centerPointY: 10;
	qproperty-lineWidth: 2.5;
}

NesInstrumentView Knob {
	color: #e7231b;
	qproperty-outerColor: #fff;
	qproperty-outerRadius: 11.0;
	qproperty-innerRadius: 8.0;
	qproperty-centerPointX: 14.5;
	qproperty-centerPointY: 14.5;
	qproperty-lineWidth: 2;
}

/* palette information  */

LmmsPalette {
	qproperty-background: #292f34;
	qproperty-windowText: #16a085;
	qproperty-base: #14191d;
	qproperty-text: #d1d8e4;
	qproperty-button: #1f2327;
	qproperty-shadow: #1b1f23;
	qproperty-buttonText: #d1d8e4;
	qproperty-brightText: #d1d8e4;
	qproperty-highlight: #1b1f23;
	qproperty-highlightedText: #d1d8e4;
	/* the next two are used for whatsthis dialogs */
	qproperty-toolTipText: #d1d8e4;
	qproperty-toolTipBase: #1f2327;
}
